body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}

.Menu {
    margin: 0px !important;
}
@media (max-width: 629px) {
    .commercial-ad-item {
        margin: auto;
    }
}

@media (max-width: 767px) {
    .ad-item {
        &.ad-wrapper {
            display: block;
            .ad-text {
                margin-bottom: 20px;
            }
            .ad-img {
                text-align: center;
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        margin-left: -30px;
    }
}

.Header {
    margin: 0px !important;
    background: tomato;
    color: #fff;
}

.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.wrapper>* {
    flex: 1 100%;
}

.ad-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
}

.commercial-ad-item {
    margin-bottom: 20px;
}

.Footer {
    .info {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        padding: 25px 20px 15px 20px;
        color: #333;
        background-color: #d2d2d2;
        border-top: 1px solid #d5d5d5;
        text-align: left;
        .follow .qr-wrapper {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            justify-content: space-around;
        }
    }
    .copyright {
        padding: 6px 12px;
        background-color: #b60f15;
        color: #fff;
        text-align: center;
    }
}

.Main {
    text-align: left;
}

.left-side {
    background: gold;
}

.right-side {
    background: hotpink;
}

.qr-image {
    height: 150px;
    margin-bottom: 25px;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 auto;
    }
}

@media all and (min-width: 992px) {
    .Main {
        flex: 3 0px;
        order: 2;
    }
    .left-side {
        order: 1;
        margin-right: 5px;
        &.aside {
            max-width: 300px;
        }
    }
    .right-side {
        order: 3;
        margin-left: 5px;
        &.aside {
            max-width: 300px;
        }
    }
    .Footer {
        order: 4;
    }
}

.contact {
    width: 300px;
    margin: auto;
    .title {
        color: #6a6c6f;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    .media {
        padding-right: 10px;
    }
    .media:last-child {
        margin-bottom: 25px;
    }
}

.follow {
    width: 300px;
    margin: 0 auto;
    .title {
        color: #6a6c6f;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 8px;
    }
}

span {
    display: inline-block;
    white-space: pre-wrap;
    &.fa {
        width: 30px;
        height: 30px;
        line-height: 31px;
        border-radius: 30px;
        text-align: center;
        color: rgb(80, 80, 80);
        background-color: white;
    }
    >a {
        color: #333;
        text-decoration: underline;
        &:hover {
            color: inherit;
        }
    }
}

.classified-ad-menu {
    .media-body {
        padding-top: 3px;
        white-space: pre-wrap;
        font-size: 18px;
        .menu-item {
            color: #333;
            text-decoration: none;
            padding: 0 0.1em 0 0.2em;
            cursor: pointer;
        }
    }
    .media:last-child {
        margin-bottom: 25px;
    }
}

.adList {
    cursor: pointer;
    .ad-item {
        background-color: #FFFFFF;
        margin-bottom: 20px;
        padding: 10px;
    }
    .ad-header {
        text-align: center;
    }
    .ad-disc {

    }
    .ad-text {
        flex: 1 0 1px;
    }
    .ad-img {
        flex: 0 0 auto;
        img {
            background-color: transparent;
            border: 1px solid #d9d9d9;
        }
    }
    .box-shadow {
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
        -mox-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
        box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    }
}

///////////// BS desktop nav styling /////////////
#non-mob-menu.navbar {
    min-height: 37px !important;
    margin-bottom: 17px;
}

#non-mob-menu.navbar-default {
    font-size: 14px;
    background-color: white;
    border-width: 0 0 4px 0;
    border-color: #231815;
    border-radius: 0;
}

#non-mob-menu.navbar-default .navbar-nav>li>a {
    height: 37px;
    padding: 5px 37px;
    line-height: 26px;
    font-size: 15px;
    text-align: center;
    color: #231815;
    background-color: white;
}

#non-mob-menu.navbar-default .navbar-nav>li {
    border-right: 1px solid #231815;
}

#non-mob-menu.navbar-default .navbar-nav>li:last-child {
    border-right: none;
}

#non-mob-menu.navbar-default .navbar-nav>li>a:hover,
#non-mob-menu.navbar-default .navbar-nav>li>a:focus {
    color: #b60f15;
    background-color: rgba(238, 238, 238, 1);
}

#non-mob-menu.navbar-default .navbar-nav>.active>a,
#non-mob-menu.navbar-default .navbar-nav>.active>a:hover,
#non-mob-menu.navbar-default .navbar-nav>.active>a:focus {
    color: #b60f15;
    background-color: #ddd;
}

#non-mob-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}

#non-mob-menu.navbar-default .navbar-toggle:hover,
#non-mob-menu.navbar-default .navbar-toggle:focus {
    background-color: white;
}

#non-mob-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

#non-mob-menu.navbar-default .navbar-toggle:hover .icon-bar,
#non-mob-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}

///////////// End of BS desktop nav styling /////////////