    <footer class="Footer">
        <div class="Footer info">
            <div class="aside contact">
                <dl>
                    <dt class="title">聯絡我們</dt>
                    <dd>
                        <span class="fa fa-phone"></span>
                        <span>總機 Main：</span>
                        <span><a href="tel:6269568200">(626) 956-8200</a> (電話), </span>
                        <span>(626) 956-8208 (傳真), </span>
                        <span><a href="mailto:admin@singtaola.com">admin@singtaola.com</a></span>
                    </dd>
                    <dd>
                        <span class="fa fa-phone"></span>
                        <span>廣告/市場部 Advertising & Marketing：</span>
                        <span><a href="tel:6269568200">(626) 956-8200</a> (電話), </span>
                        <span>(626) 956-8108 (傳真), </span>
                        <span><a href="mailto:marketing@singtaola.com">marketing@singtaola.com</a></span>
                    </dd>
                    <dd>
                        <span class="fa fa-phone"></span>
                        <span>訂閱部 Circulation Department：</span>
                        <span><a href="tel:6269568227">(626) 956-8227</a> (電話), </span>
                        <span>(626) 239-3323 (傳真), </span>
                        <span><a href="mailto:circulation@singtaola.com">circulation@singtaola.com</a></span>
                    </dd>
                    <dd>
                        <span class="fa fa-envelope"></span>
                        <span>會計部 Accounting Department：</span>
                        <span>(626) 956-8138 (傳真), </span>
                        <span><a href="mailto:accounting@singtaola.com">accounting@singtaola.com</a></span>
                    </dd>
                    <dd>
                        <span class="fa fa-envelope"></span>
                        <span>新聞採訪部 News Department：</span>
                        <span><a href="mailto:reporter@singtaola.com">reporter@singtaola.com</a></span>
                    </dd>
                    <dd>
                        <span class="fa fa-envelope"></span>
                        <span>編輯部 Editorial  Department：</span>
                        <span><a href="mailto:editor@singtaola.com">editor@singtaola.com</a></span>
                    </dd>
                </dl>
            </div>
            <div class="aside follow">
                <dl>
                    <dt class="title">聯絡我們</dt>
                    <dd>
                        <span class="fa fa-phone"></span>
                        <span>總機 Main：</span>
                        <span><a href="tel:6269568200">(626) 956-8200</a> (電話), </span>
                        <span>(626) 956-8208 (傳真), </span>
                        <span><a href="mailto:admin@singtaola.com">admin@singtaola.com</a></span>
                    </dd>
                    <dd>
                        <span class="fa fa-phone"></span>
                        <span>廣告/市場部 Advertising & Marketing：</span>
                        <span><a href="tel:6269568200">(626) 956-8200</a> (電話), </span>
                        <span>(626) 956-8108 (傳真), </span>
                        <span><a href="mailto:marketing@singtaola.com">marketing@singtaola.com</a></span>
                    </dd>
                    <dd>
                        <span class="fa fa-phone"></span>
                        <span>訂閱部 Circulation Department：</span>
                        <span><a href="tel:6269568227">(626) 956-8227</a> (電話), </span>
                        <span>(626) 239-3323 (傳真), </span>
                        <span><a href="mailto:circulation@singtaola.com">circulation@singtaola.com</a></span>
                    </dd>
                    <dd>
                        <span class="fa fa-envelope"></span>
                        <span>會計部 Accounting Department：</span>
                        <span>(626) 956-8138 (傳真), </span>
                        <span><a href="mailto:accounting@singtaola.com">accounting@singtaola.com</a></span>
                    </dd>
                    <dd>
                        <span class="fa fa-envelope"></span>
                        <span>新聞採訪部 News Department：</span>
                        <span><a href="mailto:reporter@singtaola.com">reporter@singtaola.com</a></span>
                    </dd>
                    <dd>
                        <span class="fa fa-envelope"></span>
                        <span>編輯部 Editorial  Department：</span>
                        <span><a href="mailto:editor@singtaola.com">editor@singtaola.com</a></span>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="Footer copyright">
        </div>
    </footer>
    
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="./vendors/bootstrap/js/bootstrap.min.js"></script>

    <script src="/bundle.js"></script>

</body>
</html>
