<script type="text/javascript">
    window.initialData =  <%- initialData ? JSON.stringify(initialData) : '"<div></div>"' %>;
</script>

<%- include('header') -%>
    <div id="root"><%- initialMarkup -%></div>
<%- include('footer') -%>
