doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(src="https://use.fontawesome.com/db9cb83054.js")

    link(rel="shortcut icon", href="/images/page_icons/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")
    link(rel='stylesheet', href='/style.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css")
    link(rel="stylesheet", href="https://unpkg.com/flickity@2/dist/flickity.min.css")
  body.my-container
    block content

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js")
    script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
    script(src="/bundle.js")
    