body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.aside {
  margin-top: 20px; }
  .aside * {
    margin-bottom: 10px; }
  .aside .static-aside-ad {
    border-radius: 18px; }

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0px; }

.Menu {
  margin: 0px !important;
  z-index: 100; }
  .Menu .is-active {
    color: #b60f15;
    background-color: #ddd;
    border-radius: 3px;
    text-decoration: underline; }

.Header .singtao-logo {
  height: 90px;
  width: auto;
  transition: all 0.5s; }

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.wrapper > * {
  flex: 1 100%; }

.ad-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between; }

.commercial-ad-bar {
  overflow: hidden;
  margin: 20px 0; }

.commercial-ad-item {
  margin-bottom: 20px; }

.Footer .info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 25px 20px 15px 20px;
  color: #333;
  background-color: #d2d2d2;
  border-top: 1px solid #d5d5d5;
  text-align: left; }
  .Footer .info .follow .qr-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around; }

.Footer .copyright {
  padding: 6px 12px;
  background-color: #b60f15;
  color: #fff;
  text-align: center; }

.left-side {
  background: gold; }

.qr-image {
  height: 150px;
  margin-bottom: 25px; }

.contact {
  width: 300px;
  margin: auto; }
  .contact .title {
    color: #6a6c6f;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 8px; }
  .contact .media {
    padding-right: 10px; }
  .contact .media:last-child {
    margin-bottom: 25px; }

.follow {
  width: 300px;
  margin: 0 auto; }
  .follow .title {
    color: #6a6c6f;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 8px; }

span {
  display: inline-block;
  white-space: pre-wrap; }
  span.fa {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    text-align: center;
    color: #505050;
    background-color: white; }
  span > a {
    color: #333;
    text-decoration: underline;
    cursor: pointer; }
    span > a:hover {
      color: inherit; }
    span > a:focus {
      color: #b60f15;
      background-color: #ddd; }

.classified-ad-bar {
  overflow: hidden;
  margin: 20px 0; }

.classified-ad-menu .media {
  margin: 15px 0; }

.classified-ad-menu .media-body {
  padding-top: 2px;
  white-space: pre-wrap;
  font-size: 1.2rem; }
  .classified-ad-menu .media-body a.menu-item {
    padding: 3px 10px;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1); }
    .classified-ad-menu .media-body a.menu-item.is-active {
      color: #b60f15;
      background-color: #ddd;
      border-radius: 3px;
      text-decoration: underline; }

.classified-ad-menu #picker {
  max-width: 867px;
  margin: 40px 0 20px 0; }

.adList {
  max-width: 867px; }
  .adList .ad-item {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding: 10px; }
  .adList .ad-bar {
    direction: rtl;
    overflow: hidden;
    position: relative; }
    .adList .ad-bar .ad-id {
      position: absolute;
      top: 1px;
      right: 5px;
      letter-spacing: 1px;
      font-weight: bold;
      color: whitesmoke; }
  .adList .ad-text {
    flex: 1 0 1px;
    padding-right: 10px; }
  .adList .ad-header {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 4px solid #888;
    border-bottom: 4px solid #888;
    padding-top: 6px;
    padding-bottom: 4px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold; }
  .adList .ad-desc {
    font-size: 1.5rem; }
  .adList .ad-img {
    flex: 0 0 auto;
    margin: auto; }
    .adList .ad-img img {
      background-color: transparent;
      border: 1px solid #d9d9d9;
      height: 250px; }
  .adList .box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    -mox-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }

nav {
  box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.4); }
  nav a {
    cursor: pointer; }

.my-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media all and (max-width: 429px) {
  .commercial-ad-item {
    width: 100%;
    height: 100%;
    margin: 10px; } }

@media all and (min-width: 768px) {
  .my-container {
    width: 758px; } }

@media all and (min-width: 992px) {
  .my-container {
    width: 966px; } }

@media all and (min-width: 1260px) {
  .my-container {
    width: 1230px; } }

@media all and (max-width: 629px) {
  .commercial-ad-item {
    margin: auto; } }

@media all and (max-width: 1259px) {
  .page-header img.singtao-logo {
    height: 120px;
    padding-top: 7px; } }

@media all and (max-width: 767px) {
  .ad-item.ad-wrapper {
    display: block; }
    .ad-item.ad-wrapper .ad-text {
      margin-bottom: 20px;
      padding-right: 0px; }
    .ad-item.ad-wrapper .ad-img {
      text-align: center; } }

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto; } }

@media all and (min-width: 768px) {
  .Main {
    flex: 3 0px;
    order: 2; }
  .left-side {
    order: 1;
    margin-right: 5px; }
    .left-side.aside {
      max-width: 300px; }
  .right-side {
    order: 3;
    margin-left: 5px; }
    .right-side.aside {
      max-width: 300px; }
  .Footer {
    order: 4; } }
