body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7; }

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0px; }

.Menu {
  margin: 0px !important;
  z-index: 100; }

@media (min-width: 768px) {
  .container {
    width: 758px; } }

@media (min-width: 992px) {
  .container {
    width: 966px; } }

@media (min-width: 1260px) {
  .container {
    width: 1230px; } }

@media (max-width: 629px) {
  .commercial-ad-item {
    margin: auto; } }

@media (max-width: 767px) {
  .ad-item.ad-wrapper {
    display: block; }
    .ad-item.ad-wrapper .ad-text {
      margin-bottom: 20px;
      padding-right: 0px; }
    .ad-item.ad-wrapper .ad-img {
      text-align: center; }
      .ad-item.ad-wrapper .ad-img img {
        width: 100%;
        height: auto; } }

@media (min-width: 768px) {
  .navbar-nav {
    margin-left: -30px; } }

.Header {
  margin: 0px !important;
  background: tomato;
  color: #fff; }

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.wrapper > * {
  flex: 1 100%; }

.ad-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between; }

.commercial-ad-bar {
  overflow: hidden;
  margin-bottom: 20px; }

.commercial-ad-item {
  margin-bottom: 20px; }

.Footer .info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 25px 20px 15px 20px;
  color: #333;
  background-color: #d2d2d2;
  border-top: 1px solid #d5d5d5;
  text-align: left; }
  .Footer .info .follow .qr-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around; }

.Footer .copyright {
  padding: 6px 12px;
  background-color: #b60f15;
  color: #fff;
  text-align: center; }

.left-side {
  background: gold; }

.right-side {
  background: hotpink; }

.qr-image {
  height: 150px;
  margin-bottom: 25px; }

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto; } }

@media all and (min-width: 992px) {
  .Main {
    flex: 3 0px;
    order: 2; }
  .left-side {
    order: 1;
    margin-right: 5px; }
    .left-side.aside {
      max-width: 300px; }
  .right-side {
    order: 3;
    margin-left: 5px; }
    .right-side.aside {
      max-width: 300px; }
  .Footer {
    order: 4; } }

.contact {
  width: 300px;
  margin: auto; }
  .contact .title {
    color: #6a6c6f;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 8px; }
  .contact .media {
    padding-right: 10px; }
  .contact .media:last-child {
    margin-bottom: 25px; }

.follow {
  width: 300px;
  margin: 0 auto; }
  .follow .title {
    color: #6a6c6f;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 8px; }

span {
  display: inline-block;
  white-space: pre-wrap; }
  span.fa {
    width: 30px;
    height: 30px;
    line-height: 31px;
    border-radius: 30px;
    text-align: center;
    color: #505050;
    background-color: white; }
  span > a {
    color: #333;
    text-decoration: underline;
    cursor: pointer; }
    span > a:hover {
      color: inherit; }
    span > a:focus {
      color: #b60f15;
      background-color: #ddd; }

.classified-ad-menu .media-body {
  padding-top: 3px;
  white-space: pre-wrap;
  font-size: 1.8rem; }
  .classified-ad-menu .media-body a.menu-item {
    padding: 3px 10px;
    text-decoration: none;
    transition: all 0.8s cubic-bezier(0, 0, 0.2, 1); }
    .classified-ad-menu .media-body a.menu-item.is-active {
      color: #b60f15;
      background-color: #ddd;
      border-radius: 3px;
      text-decoration: underline; }

.classified-ad-menu .media:last-child {
  margin-bottom: 25px; }

.adList {
  max-width: 867px; }
  .adList .ad-item {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding: 10px; }
  .adList .ad-bar {
    direction: rtl;
    overflow: hidden;
    position: relative; }
    .adList .ad-bar .ad-id {
      position: absolute;
      top: 1px;
      right: 5px;
      letter-spacing: 1px;
      font-weight: bold;
      color: whitesmoke; }
  .adList .ad-text {
    flex: 1 0 1px;
    padding-right: 10px; }
  .adList .ad-header {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 4px solid #888;
    border-bottom: 4px solid #888;
    padding-top: 6px;
    padding-bottom: 4px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold; }
  .adList .ad-desc {
    font-size: 2rem; }
  .adList .ad-img {
    flex: 0 0 auto;
    margin: auto; }
    .adList .ad-img img {
      background-color: transparent;
      border: 1px solid #d9d9d9;
      height: 250px; }
  .adList .box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    -mox-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }

#non-mob-menu.navbar {
  min-height: 37px !important;
  margin-bottom: 17px; }

#non-mob-menu.navbar-default {
  font-size: 1.4rem;
  background-color: white;
  border-width: 0 0 4px 0;
  border-color: #231815;
  border-radius: 0; }

#non-mob-menu.navbar-default .navbar-nav > li > a {
  height: 37px;
  padding: 5px 37px;
  line-height: 26px;
  font-size: 1.6rem;
  text-align: center;
  color: #231815;
  background-color: white; }

#non-mob-menu.navbar-default .navbar-nav > li {
  cursor: pointer;
  border-right: 1px solid #231815; }

#non-mob-menu.navbar-default .navbar-nav > li:last-child {
  border-right: none; }

#non-mob-menu.navbar-default .navbar-nav > li > a:hover,
#non-mob-menu.navbar-default .navbar-nav > li > a:focus {
  color: #b60f15;
  background-color: #eeeeee; }

#non-mob-menu.navbar-default .navbar-nav > .active > a,
#non-mob-menu.navbar-default .navbar-nav > .active > a:hover,
#non-mob-menu.navbar-default .navbar-nav > .active > a:focus {
  color: #b60f15;
  background-color: #ddd; }

#non-mob-menu.navbar-default .navbar-toggle {
  border-color: #ddd; }

#non-mob-menu.navbar-default .navbar-toggle:hover,
#non-mob-menu.navbar-default .navbar-toggle:focus {
  background-color: white; }

#non-mob-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #888; }

#non-mob-menu.navbar-default .navbar-toggle:hover .icon-bar,
#non-mob-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #888; }
